{% extends 'base.html.twig' %}

{% block title %}Wild Series - Profile{% endblock %}

{% block body %}
    <section>
        <h1 class="d-flex justify-content-center my-5">Mon Profile</h1>
    </section>
{% endblock %}
