<footer class="d-flex flex-wrap justify-content-center align-items-center"
        style="background-color: var(--primary-color) ">
    <div class=" d-flex align-items-center">
        <a class="navbar-brand" href="{{ path('app_index') }}">
            <img src="{{ asset('images/logo-navbar.png') }}" alt="logo Wild-series"
                 width="50%" height="auto">
        </a>
        <span>© 2023
            Num'Eric</span>
    </div>
</footer>