<form method="post" action="{{ path('episode_delete', {'id': episode.id}) }}"
      onsubmit="return confirm('Etes vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
