{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center my-5">Créer une nouvelle Saison</h1>

    {{ include('season/_form.html.twig') }}

{% endblock %}
