<form method="post" action="{{ path('program_delete', {'slug': program.slug}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
