{% block title %}Wild Series - list{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des programmes</h1>

    <h2>Catégories</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>

    <h2>Programmes</h2>
    <ul>
        {% for program in programs %}
            <li>
                <h3>{{ program.title }}</h3>
                <p>{{ program.synopsis }}</p>
                {% if program.poster %}
                    <img src="{{ program.poster }}" alt="Poster">
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}