{% extends "base.html.twig" %}

{% block title %}New Serie{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center my-5">Créer une nouvelle série</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}"
       class="d-flex justify-content-center my-5">
        <button class="btn btn-success">retour vers les series</button>
    </a>
{% endblock %}
